<p>
  <b>Author:</b>
  <%=h @publication.author %>
</p>

<p>
  <b>Title:</b>
  <%=h @publication.title %>
</p>

<p>
  <b>Category:</b>
  <%=h @publication.category %>
</p>


<%= link_to 'Back', publications_path %>
